{% extends 'base.html' %}



{% block info %}
<h1 style="font-family: Bebas Neue;font-style: italic;margin-left: 50rem;">about us</h1>
<div class="container">
    <h2 style="font-family: Bebas Neue;font-style: italic;">Proyecto : TU VEHICULO </h2>
        <h3 style="font-family: Bebas Neue;font-style: italic;">Dueños: pagnotta francisco - florencia garcia </h3>
            <p style="font-family: Bebas Neue;font-size: 22px;margin-top:10rem;">Nuestro proyecto trata de una concesionaria de segunda mano con diferentes marcas de vehiculos, ingresando a nuestra pagina podes encontrar la moto, auto o hasta camion/camioneta que estas buscando.<br>
                                                                Ingresando a la seccion "Vehicles", podes seleccionar entre Autos,motos y camiones, en cada seccion, te mostrara una lista de los vehiculos que tenemos a la venta, la misma, cuenta con foto, año de fabricacion, modelo y precio. <br>
                                                                Ademas, podes crear un usuario para poder publicar tu vehiculo!. <br>
                                                                Ingresando a "sign up" podes crear tu usuario completando el formulario que aparece, una vez creado el usuario, dirigirse a la seccion "create vehicles",te mostrara el formulario (segun el vehiculo elejido) para poder publicarlo.
            </p>
</div>





{% endblock %}