{% extends 'base.html' %}

{% block info %}
    <h1>AUTOS</h1>
  
  {{mensaje}}

  {% for auto in autos %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Marca y modelo: {{auto.marca_modelo}}</h5>
      <p class="card-text">Año de fabricacion :{{auto.año}}.</p>
      <p class="card-text">Precio : ${{auto.precio}}.</p>
      <p class="card-text">Transmision automatica?:{{auto.transmision}}.</p>
      <a href="/vehiculos/autos_detalles/{{auto.id}}/" class="btn btn-primary">detalles</a>
      <a href="/vehiculos/eliminar_auto/{{auto.id}}/" class="btn btn-danger">eliminar</a>
    </div>
  </div>
  {% endfor %}

{% endblock %}

