{% extends 'base.html' %}

{% block info %}
  <h1>CAMIONES</h1>

  {{mensaje}}

  {% for camion in camiones %}
 <div class="">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Marca y modelo:{{camion.marca_modelo}}</h5>
        <p class="card-text">Año de fabricacion:{{camion.año}}.</p>
        <p class="card-text">Precio:${{camion.precio}}.</p>
        <p class="card-text">Capacidad de transporte:{{camion.capacidad}}.</p>
        <a href="/vehiculos/camiones_detalles/{{camion.id}}/" class="btn btn-primary">detalles</a>
        <a href="/vehiculos/eliminar_camion/{{camion.id}}/" class="btn btn-danger">eliminar</a>
      </div>
    </div>
</div> 
  {% endfor %}    

{% endblock %}

