{% extends 'base.html' %}

{% block info %}
    <h1>Autos</h1>
  
  {{mensaje}}

  {% for car in car %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Marca y modelo: {{car.brand}}</h5>
      <p class="card-text">Año de fabricacion:{{car.year}}.</p>
      <p class="card-text">Precio : ${{car.price}}.</p>
      <p class="card-text">Transmision automatica?:{{car.transmision}}.</p>
      <a href="/vehiculos/autos_detalles/{{car.id}}/" class="btn btn-primary">detalles</a>
      <a href="/vehiculos/eliminar_auto/{{car.id}}/" class="btn btn-danger">eliminar</a>
    </div>
  </div>
  {% endfor %}

{% endblock %}

