{% extends 'base.html' %}


{% block info %}

<div class="alert alert-success" role="alert" style="font-family: Bebas Neue;">
    {{message}}
</div>


<h1 style="font-family: Bebas Neue; font-style:italic;margin-left:35rem;">TU VEHICULO : TU CONCESIONARIO DE CONFIANZA</h1>

<div class="container">
    <div class="row" style="margin-top:5rem;">
        <div class="col" >
            <p style="font-family: Bebas Neue;">
            Construida bajo el legado de crear invencibles pick-ups Nissan Frontier, la Nueva Nissan Frontier PRO-4X está hecha para vencer cualquier desafío extremo con tecnología,
            equipamiento off-road y un diseño hecho para inspirarte a llegar más lejos en #MODOPRO.
            </p>
        </div>
        <div class="col">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Rl1JfMk_RTo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

<h1 style="font-family: Bebas Neue; font-style:italic; margin-left: 23rem;margin-top: 5rem;" >LO MEJOR ESTA POR VENIR</h1>
    <div class="row">
        <div class="col"><iframe width="560" height="315" src="https://www.youtube.com/embed/6yWFqD7ZM3M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="col"><iframe width="560" height="315" src="https://www.youtube.com/embed/LxuUChmb6TY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>


</div>

{% endblock %}