{% extends 'base.html' %}

{% block info %}
  <h1>Autos</h1>
  
  {% for car in object_list %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Brand: {{car.brand}}</h5>
      <p class="card-text">Year of fabrication: {{car.year}}.</p>
      <p class="card-text">Price: ${{car.price}}.</p>
      <p class="card-text">Authomatic Transmision: {{car.transmision}}.</p>
      <a href="/vehicles/car-details/{{car.id}}/" class="btn btn-primary">Details</a>
      <a href="/vehicles/delete-car/{{car.id}}/" class="btn btn-danger">Delete</a>
    </div>
  </div>
  {% endfor %}

{% endblock %}

