{% extends 'base.html' %}

{% block info %}
  <h1>Motos</h1>

  {{mensaje}}

  {% for motorcycle in motorcycle %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Marca y modelo:{{motorcycle.brand}}</h5>
      <p class="card-text">Año de fabricacion:{{motorcycle.year}}.</p>
      <p class="card-text">Precio:${{motorcycle.price}}.</p>
      <p class="card-text">Tipo:{{motorcycle.type}}.</p>
      <a href="/vehiculos/motos_detalles/{{motorcycle.id}}/" class="btn btn-primary">detalles</a>
      <a href="/vehiculos/eliminar_moto/{{motorcycle.id}}/" class="btn btn-danger">eliminar</a>
    </div>
  </div>
  {% endfor %}    

{% endblock %}